/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#fff;
    background-image: url('des3.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; /* Fija la imagen en su lugar al hacer scroll */
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
  }
  
  /* Estilos del header */
  .header {
    color:#f00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
    z-index: 2; /* Asegura que el encabezado esté por encima de la imagen */
  }
  
  .site-title {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
  }
  
  .navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 20px;
  }
  
  .nav-link {
    color: #f00;
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  /* Área de contenido principal (si tienes más secciones, puedes personalizarlas) */
  .content {
    padding: 100px 20px; /* Añadir padding para separar contenido del borde */
    color: #fff; /* Texto blanco para que resalte sobre el fondo */
    text-align: center; /* Centrado del texto */
  }

  
  
  
